
//Стили body
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #000000;
  background-color: #ffffff;
  height: 100%;

  position: relative;
  min-height: 100vh;

  &.modal-open {
      overflow: hidden;
    }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #ff6b01;
  border-radius: 8px;
}