<footer class="footer">
    <div class="container"> 
    <div class="footer-icon ">
    <p class="footer-icon__tittle">Присоединяйтесь</p>
    <ul class="footer-social-list footer-socials list">
        <li class="footer-socials__item">
            <a href="" class="footer-socials__link">
                <!-- <svg class="footer-socials__icon" width="20px" height="20px" >
                    <use href="./images/icons.svg#icon-instagram"></use>
                </svg> -->
            </a>
        </li>
        <li class="footer-socials__item">
            <a href="" class="footer-socials__link">
                <!-- <svg class="footer-socials__icon" width="20px" height="20px" >
                    <use href="./images/icons.svg#icon-twitter"></use>
                </svg> -->
            </a>
        </li>
        <li class="footer-socials__item">
            <a href="" class="footer-socials__link">
                <!-- <svg class="footer-socials__icon" width="20px" height="20px" >
                    <use href="./images/icons.svg#icon-facebook"></use>
                </svg> -->
            </a>
        </li>
        <li class="footer-socials__item">
            <a href="" class="footer-socials__link">
                <!-- <svg class="footer-socials__icon" width="20px" height="20px" >
                    <use href="./images/icons.svg#icon-linkedin"></use>
                </svg> -->
            </a>
        </li>
    </ul>
    </div>
    <div class="footer-form-field">
    <form class="footer-form">     
        <p class="footer-form__tittle">Подпишитесь на рассылку</p>
        <div class="footer-form__block">
        <input 
        type="email" 
        name="mail"
        placeholder="E-mail"
        class="footer-form__email">
        <!-- <button type="submit" class="btn footer-form__btn">Подписаться <svg class="footer-form__icon" width="24px" height="24px">
            <use href="./images/icons.svg#icon-icon-send"></use>
        </svg></button> -->
        </div>
    </form>
    </div>
    </div>
</footer>