<section class="shop-menu">
    <div class="container">
        <ul class="shop-list">
            <li class="shop-item">
                <div class="shop-card">  
                <img src="./images/burger-ayam.jpg" alt="Burger" width="270"/>
                <h2 class="shop-tittle">Burger</h2>
                <p class="shop-text">kkal: 295 </p>
                <button type="button" class="button-link">Заказать</button>
                </div> 
            </a>
            </li>
            <li class="shop-item">
                <div class="shop-card">  
                <img src="./images/burger-ayam.jpg" alt="Сheeseburger" width="270"/>
                <h2 class="shop-tittle">Сheeseburger</h2>
                <p class="shop-text">kkal: 295 </p>
                <button type="button" class="button-link ">Заказать</button>
                </div> 
            </a>
            </li>
            <li class="shop-item">
                <div class="shop-card">  
                <img src="./images/burger-ayam.jpg" alt="burget" width="270"/>
                <h2 class="shop-tittle">Burger</h2>
                <p class="shop-text">kkal: 295 </p>
                <button type="button" class="button-link">Заказать</button>
                </div> 
            </a>
            </li>
            <li class="shop-item">
                <div class="shop-card">  
                <img src="./images/burger-ayam.jpg" alt="burget" width="270"/>
                <h2 class="shop-tittle">Burger</h2>
                <p class="shop-text">kkal: 295 </p>
                <button type="button" class="button-link">Заказать</button>
                </div> 
            </a>
            </li>
            <li class="shop-item">
                <div class="shop-card">  
                <img src="./images/burger-ayam.jpg" alt="burget" width="270"/>
                <h2 class="shop-tittle">Burger</h2>
                <p class="shop-text">kkal: 295 </p>
                <button type="button" class="button-link">Заказать</button>
                </div> 
            </a>
            </li>
            <li class="shop-item">
                <div class="shop-card">  
                <img src="./images/burger-ayam.jpg" alt="burget" width="270"/>
                <h2 class="shop-tittle">Burger</h2>
                <p class="shop-text">kkal: 295 </p>
                <button type="button" class="button-link">Заказать</button>
                </div> 
            </a>
            </li>
            <li class="shop-item">
                <div class="shop-card">  
                <img src="./images/burger-ayam.jpg" alt="burget" width="270"/>
                <h2 class="shop-tittle">Burger</h2>
                <p class="shop-text">kkal: 295 </p>
                <button type="button" class="button-link">Заказать</button>
                </div> 
            </a>
            </li>
            <li class="shop-item">
                <div class="shop-card">  
                <img src="./images/burger-ayam.jpg" alt="burget" width="270"/>
                <h2 class="shop-tittle">Burger</h2>
                <p class="shop-text">kkal: 295 </p>
                <button type="button" class="button-link">Заказать</button>
                </div> 
            </a>
            </li>
            <li class="shop-item">
                <div class="shop-card">  
                <img src="./images/burger-ayam.jpg" alt="burget" width="270"/>
                <h2 class="shop-tittle">Burger</h2>
                <p class="shop-text">kkal: 295 </p>
                <button type="button" class="button-link">Заказать</button>
                </div> 
            </a>
            </li>
        </ul>
        </div>
 </section>
    </div>
</section>