<section class="shop-pages">
    <div class="container">
        <h1 class="shop-tittle">Shops Eat</h1>
        <ul class="shop-button">
            <li class="btn-item"><button type="button" class="button-link-current btn">MC Donalcs</button></li>
            <li class="btn-item"><button type="button" class="button-link btn">KFC</button></li>
            <li class="btn-item"><button type="button" class="button-link btn">Casta</button></li>
            <li class="btn-item"><button type="button" class="button-link btn">Mafia</button></li>
            <li class="btn-item"><button type="button" class="button-link btn">Tarantino</button></li>
        </ul>
  </div>
  </section>
  